* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 90%;
    height: 10vh;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    flex: 1;
}

.logo {
    font-weight: 400;
    padding: 5px;
}

.logo-container, .nav-links, .basket {
    display: flex;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.link {
    text-decoration: none;
    font-size: 18px;
}

.basket {
    justify-content: flex-end;
    flex: 1;
}